/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="time"]::-webkit-calendar-picker-indicator {
    display: block;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color-scheme: light;
    filter: invert(1); 
}
.menu-width{
    width: 69px;
}