/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="time"]::-webkit-calendar-picker-indicator {
    display: block;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    color-scheme: light;
    filter: invert(1); 
}
.menu-width{
    width: 69px;
}
.streamText{
    @apply text-cyan-500 font-semibold
}

.dark .streamText{
    @apply text-red-600 font-extralight
}
.steps .step::before{
    color: white !important; /* Force white color on step numbers */
}